{{# section 'css'}}
    <style>
        /*header {border-bottom: 1px solid black; height: 120px}*/
        h2 { text-align: center}
        .board {width: 700px; margin: 0 auto; table-layout: fixed}
        .board td {text-align: center; padding: 7px}
        .board th {background: ivory }
        .board td:nth-of-type(2) {white-space: nowrap; overflow: hidden; text-overflow: ellipsis }
        .board tr:nth-of-type(even) {background: lightgoldenrodyellow }
        .board tr:nth-of-type(odd) {background: ivory }
        .alignrgt {text-align-last: right}

        .page {list-style: none; padding:0; margin: 0 auto; width: 500px}
        .page li {display: inline-block; padding: 7px; }
        .cpage {font: bold 24px '맑은 고딕'; color: red;}
        /*.prev {color: #cccccc}*/
    </style>
{{/section}}
<!--<script>-->
<!--    let newbtn = document.querySelector('#newbtn')-->
<!--    optional chaining(?.)-->
<!--    ? 앞의 객체변수가 null 이거나 undefined라면-->
<!--    . 뒤의 코드를 실행하지않음-->
<!--    newbtn?.addEventListener('click',()=>{-->
<!--        location.href = '보내고싶은 주소'-->
<!--    })  // 이거랑 내가 한거랑 비교하면 그냥 내꺼 쓸래(너무 길어)-->
<!--</script>-->
<main>
    <h2>게시판</h2>
    <section>
        <div>
            <table class="board">
                <colgroup><!--각테이블컬럼마다 미리 적용할 수 있는 태그-->
                    <col style="width: 10%">
                    <col>
                    <col style="width: 15%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                </colgroup>
                <tr><td colspan="5" class="alignrgt">
                    <button type="button" onclick="location.href='write.html'">새글쓰기</button></td></tr>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회</th>
                </tr>
            {{# list}}
                <tr>
                    <td style="text-align: center; ">{{idx}}</td>
                    <td style="text-align: center;"><a href="/view.html?bno={{bno}}">{{title}}</a></td>
                    <td style="text-align: center; ">{{userid}}</td>
                    <td style="text-align: center; ">{{regdate}}</td>
                    <td style="text-align: center; ">{{views}}</td>
                </tr>
            {{/ list}}
                <!--views가 찍히지 않는 이유는 select에 views가 빠져있었다.-->
                <!-- a태그를 쓸때 bno를 가져와야한다
                (기본키?,뭐시기 자동생성?이 도움을 주는듯)-->
            </table>
            <ul class="page">
                <li class="prev"><a href="?cpg={{pgn.prev}}">이전</a></li>
               {{# stpgns}}
                   {{#if iscpg}}
                       <li class="cpage">{{num}}</li>
                   {{ else}}
                       <li><a href="?cpg={{num}}">{{num}}</a></li>
                   {{/if}}
               {{/stpgns}}
                <li><a href="?cpg={{pgn.next}}">다음</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </section>
</main>