{{# section 'css'}}
    <style>
        #view {width: 560px; margin: 0 auto;}
        #contents { border: 1px solid #ddd; display: inline-block; width: 570px; min-height: 350px;
            white-space:pre;}
    </style>
{{/section}}
<main>
    <div id="view">
        <section>
            <h2>게시판 본문글</h2>
            {{# list}}
            <div>제 목</div>
            <div><label for="title"></label>
                <input type="text" name="title" id="title"
                       readonly value="{{title}}"></div>
            <div>작성자</div>
            <div><label for="writer"></label>
                <input type="text" name="writer" id="writer"
                       readonly value="{{userid}}"></div>
            <div>작성일</div>
            <div><label for="writerdate"></label>
                <input type="text" name="writerdate" id="writerdate"
                       readonly value="{{regdate}},{{views}}"></div>
            <div >본문</div>
            <div><label for="contents"></label>
                <textarea name="contents" id="contents" cols="70" rows="25"
                          readonly>{{contents}}</textarea></div>
            {{/list}}
            <div id="button"><button type="button"
                                     onclick="location.href='write.html'">새글쓰기</button>
                <button type="button" id="updatebtn">수정하기</button>
                <button type="button" onclick="location.href='list.html'">목록으로</button>
                <button type="button" id="deletebtn">삭제하기</button></div>
        </section>
    </div>
</main>